/* CSS Document */
form{
	margin:0px;
	padding:0px;
}
#cuerpo{
	border-width:1px;
	border-color:#B4ABA2;
	border-style:solid;
	height:460px;
	width:615px;
	margin:auto;
}
#contenido{
	margin:auto;
	width:430px;
	height:320px;
	margin-top:125px;
}
.textoTitulo{
	font-family: "Arial Narrow", Arial;
	font-size: 16px;
	color: #B4ABA2;
	font-weight: normal;
}
#titulo{
	margin-bottom: 40px;
}
.formItem{
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
}
.formItem label{
	display:block;
	float:left;
	width:70px;
	font-family: "Arial Narrow", Arial;
	font-size: 12px;
	color: #B5AAA5;
}
.textForm{
	font-family: "Arial Narrow", Arial;
	font-size: 12px;
	color: #B5AAA5;
}
.formTextInput{
	font-family: "Arial Narrow", Arial;
	color: #6D6136;
	height: 20px;
	width: 200px;
	background-color: #FFFFFF;
	border: 1px solid #B5AAA5;
	font-size: 12px;
}
.boton{
	background-color:#9C9084;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 22px;
}

#tituloDerecha{
	text-align:right;
	
}
#tituloDerecha a{
	font-family: "Arial Narrow", Arial;
	color: #9C9284;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	
}
#tituloIzquierda{
	width:150px;
	float:left;
}
#divCargarImags{
	font-family: "Arial Narrow", Arial;
	font-size: 12px;
	color: #B4ABA2;
	font-weight: normal;
	margin-bottom: 20px;
}
#radios span{
	top: -6px;
	position: relative;
}
#radios img{
	margin-right:10px;
}
#divListado{
	margin-top:30px;
	height:160px;
	width:350px;
	margin-bottom:0px;
}
#contenedorFotos{
	/*margin-bottom:20px;*/
	height:130px;
	border:1px solid color:#00FF00;
}
#contenedorFotos ul{
	margin:0px;
	padding:0px;
}
#contenedorFotos ul li{
	display:block;
	float:left;
	margin-right:10px;
	list-style:none;
	width:67px;
}
#contenedorFotos ul li {
	display:block;
	float:left;
	margin-right:10px;
	list-style:none;
	width:67px;
	height:120px;
}
#contenedorFotos ul li img{
	cursor:pointer;
}
#contenedorFotos ul li img.delete{
	position:relative;
	top:-100px;
	left:55px;
	cursor:pointer;
}
.paginador_img{
	/*text-align:center;*/
	position:relative;
	top:-20px;
	clear:both;
	height:20px;
	/*border:1px solid #00CC00;*/
}
#pag_siguiente{
	text-align:left;
}
.pag_ant{
	display:inline;
	/*float:left;*/
	width:8px;
	padding-left:20px;
	/*height:9px;*/
	/*border:1px solid #FF0000;*/
}
.pag_sig{
	width:8px;
	padding-left:5px;
	/*height:9px;*/
	/*border:1px solid #FFFF00;*/
}
#paginador{
	/*margin-top:20px;*/
	height:25px;
}
#pagSiguiente{
	margin-left:240px;
	cursor:pointer;
}
#pagAnterior{
	float:left;
	cursor:pointer;
	width: 30px;
	
}
#divListaCat{
	text-align:center;
	margin-top:20px;
	margin-left:20px;
}
#divListaCat ul{
	margin:0px;
	padding:0px;
	display:block;
}
#divListaCat ul li{
	list-style:none;
	display:block;
	float:left;
}
#divListaCat ul li a{
	display:block;
	margin-left:10px;

	margin-right:10px:
	font-family: "Arial Narrow", Arial;
	font-size: 12px;
	color: #B4ABA2;
	font-weight: normal;
	text-decoration:none;
	font-family: "Arial Narrow", Arial;
}
